body{
    background: #F0F0F0;
    height: 780px;
    padding-top: 33px;
    overflow: hidden;
    width: 100%;
     display: flex;
}

main{
    float: left;
    width: 1340px;
    height: 724px;
    position: relative;
    margin: auto;
    margin-top: -16px;
}

.search{
    width: 50%;
    height: 64px;
    position: absolute;
    left: 0;top: 0;
    display: flex;
}

.room{
    width: 70%;
    height: 37px !important;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    color: rgba(0, 0, 0, 0.64);
    padding-left: 24px;
}

.inquiry{
    display: block;
    width: 85px;
    height: 37px;
    background: #F58515;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    line-height: 37px;
    word-spacing: 5px;
    margin-left: -2px;
}

.mytable{
    width: 95%;
    min-height: 105px;
    margin-top: 54px;
}

table{    
    border: 1px solid #E7E8E9;
}

th{
    height: 63px;
    background: #F0F7FF;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #19519C;
}
td{
    height: 44px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    color: #000000;
    background: #FFFFFF;
}

.table tbody tr td,.table tbody tr th{
    vertical-align: middle;
    text-align: center;
}